.footer-section {
  background: url("../images/footer-bg.png") no-repeat;
  background-size: cover;
  padding: 50px 0;

  .foot-wrapper {
    background: url(../images/logo-web.png) no-repeat;
    background-position: center;
    p {
      text-align: right;
      font-size: 14px;
      color: #343649;
      padding: 25px;
      span {
        color: #417bc5;
      }
    }
  }
}

//responsive
@media only screen and (max-width: 770px) {
  .footer-section {
    padding: 15px 0;
    background-size: 100% 100%;
    .foot-wrapper {
      background-position: left;
      background-size: 70px;
      p {
        padding: 25px 0;
      }
    }
  }
}
