@import "variables";
//reset style
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: myriad-pro, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1165px;
  color: #fff;
}

html,
body {
  background: black;
  scroll-behavior: smooth;
  font-family: Poppins-regular, sans-serif;
}

button,
input,
textarea,
select {
  outline: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #3c3f55;
}

::-webkit-scrollbar-thumb {
  background-color: #417bc5;
  width: 120%;
  height: 52px;
}

.secA-secE-wrapper {
  position: relative;
  overflow: hidden;
}


.hidden{
  display: none;
}